<footer class="footer">
  
  <a class="footer-img-arrow-a" href="./header.html"><img class="footer-img-arrow" src="./assets/images/ico-arrow.svg"></img></a>
  <nav class="nav-column">
    <ul class="nav-ul">
      <li >Zapatillas</li>
      <li>Ropa</li>
      <li>Niño/a</li>
      <li>Destacados</li>
      <li>tips</li>
    </ul>
    <ul class="ul-socials">
      <li>twitter</li>
      <li>instagram</li>
      <li>youtube</li>
    </ul>
    <ul class="copyright">
      <li>&copy; 2023</li>
      <li>we run </li>
    </ul>
  </nav>
</footer>