<footer class="footer">
  <img class="hero-img-arrow-up" src="./assets/images/ico-arrow.svg"><a class="hero-img-arrow-up-a"
    href="./index.html#newyear"></a></img>
  <nav class="nav-column">
    <ul class="nav-ul">
      <il>Zapatillas</il>
      <il>Ropa</il>
      <il>Niño/a</il>
      <il>Destacados</il>
      <il>tips</il>
    </ul>
    <ul class="ul-socials">
      <il>twitter</il>
      <il>instagram</il>
      <il>youtube</il>
    </ul>
    <ul>
      <il>&copy; 2023</il>
      <il>we run </il>
    </ul>
  </nav>
</footer>