<footer class="footer">
  <a class="footer-img-arrow-a" href="./index.html#hero">
    <img class="footer-img-arrow" src="./assets/images/ico-arrow.svg"></img>
  </a>
  <section class="footer-two">
  <nav class="nav-clouthes">
    <ul class="nav-ul">
      <li class="sport"><a href="https://adalab.es/"></a>Zapatillas</li>
      <li class="sport"><a href="https://adalab.es/"></a>Ropa</li>
      <li class="sport"><a href="https://adalab.es/"></a>Niño/a</li>
      <li class="sport"><a href="https://adalab.es/"></a>Destacados</li>
      <li class="sport"><a href="https://adalab.es/"></a>Tips</li>
    </ul>
   </nav> 
   <nav class="nav-socials">
    <ul class="ul-socials">
      <li class="socials"><a href="https://adalab.es/"></a>Twitter</li>
      <li class="socials"><a href="https://adalab.es/"></a>Instagram</li>
      <li class="socials"><a href="https://adalab.es/"></a>Youtube</li>
    </ul>
    </nav>
    <article class="article-copyright">
    <ul class="copyright">
      <li>&copy; 2023</li>
      <li>we🧡run </li>
    </ul>
    </article>
  </section>
</footer>