<section id="newyear" class="section-newyear">
  <h3 class="title-newyear">Año nuevo, movimientos nuevos</h3>
  <section class="three-elements">
    <article class="article-one">
      <h3 class="title-article-one">Entrenamientos</h3>
      <p class="p-article-one">Sesiones de running y entrenamientos</p>
    </article>
    <article class="article-two">
      <h3 class="title-article-two">Cualquier nivel</h3>
      <p class="p-article-two">Entrenamientos para cada nivel</p>
    </article>
    <article class="article-three">
      <h3 class="title-article-three">Exclusividad</h3>
      <p class="p-article-three">Productos para miembros premium</p>
    </article>
  </section>
  <section class="section-button">
    <button class="button-newyear">Empezar ahora</button>
  </section>
</section>
