<section class="section-conect">
  <articles class="article-conect">
    <h2 class="title-feelings">Los sentimientos nos inspiran</h2>
    <h3 class="title-conect">Conecta contigo</h3>
    <p class="conect-p">
      Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
      la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la
      plena consciencia que tan bien nos hacen sentir.
    </p>
    <button class="button-main-conect">Comprar</button>
  </articles>
</section>
