.footer {
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 465px;
    
}  
.footer-img-arrow { 
    // width: 45px;
    // height: 45px;
    background-color: white;
    position: relative;
    top: 0;
    padding: 10px;
    border-radius: 22.5px;
    margin-top: -25px;
    
   
 
}
.footer-img-arow-a {
    width: 37.9px;
    height: 35.7px;
    
    
}

.nav-ul {
    font-size: 16px;
    font-family: Roboto;
    color:white;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;

}
.ul-socials {
    font-family: Roboto;
    color: white;
    line-height: 25px;
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.copyright {
    font-family: Roboto;
    font-size: 14px;
    line-height: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
 @media (min-width: 768px) {
    .footer-two {
        display: flex;
        flex-direction: row-reverse;
        
    }
   .nav-ul {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: start;
    order: 2;
    
   }
.ul-socials {
    background-color: purple;
    text-align: start;
    order: 3;
}
.nav-copyright {
    background-color: red;
    text-align: start;
    margin-right: 159px;
    margin-top: 120px;
    order: 1;
}
    
}
