.footer {
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
    align-items: center;
.footer-img-arrow {
    width: 45px;
    height: 45px;
}
}
.nav-ul {
    background-color: aqua;
    
}
