.header-img-menu{
    width: 11.1px;
    height: 13.5px;
    background-color: #f26002;
    position: fixed;
    top: 0;
    padding: 10px;
    // cuando hago scroll no se queda fijo. solucionarlo!
}
