.section-newyear {
  background-color: #f2f2f2;
  padding: 15px;
  display: grid;
  grid-template-rows: 70px 350px 70px;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}
.three-elements {
  grid-column: span 1;
  grid-row: span 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 116.5px 116.5px 116.5px;
  align-items: center;
}
.title-newyear {
  grid-column: span 1;
  grid-row: span 1;
  width: 20ch;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;

  text-align: center;
  justify-self: center;
}
.article-one {
  line-height: 25px;

  text-align: center;
}
.title-article-one {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.p-article-one {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 800;
}
.article-two {
  line-height: 25px;

  text-align: center;
}

.title-article-two {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.p-article-two {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  width: 20ch;
  display: inline-block;
}
.article-three {
  line-height: 25px;

  text-align: center;
}
.title-article-three {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.p-article-three {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 800;
  width: 20ch;
  display: inline-block;
}
.section-button {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
}
.button-newyear {
  width: 160px;
  height: 45px;
  background-color: #f26002;

  border-radius: 22.4px;
  border: solid #f26002 2px;

  font-family: "Roboto";
  font-size: 20px;
  color: white;
  font-weight: bold;
}
@media (min-width: 768px) {
  .section-newyear {
    grid-template-rows: 70px 150px 70px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title-newyear {
    width: 30ch;

    font-size: 28px;
    grid-row: span 1;
    grid-column: span 3;
  }
  .three-elements {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
    grid-row: span 1;
    grid-column: span 3;
  }
  .section-button {
    grid-row: span 1;
    grid-column: span 3;
  }
}

@media (min-width: 1200px) {
  .title-newyear {
    justify-self: center;
  }

  .p-article-two {
    width: 100%;
  }

  .p-article-three {
    width: 100%;
  }
}
