.section-newyear{
    background-color: #f2f2f2;
    padding: 29px 15px 41px 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.title-newyear {
   width: 20ch;
   font-weight: bold;
   font-size: 20px;
   line-height: 1.5;
   font-family: 'Roboto Slab', serif;
   padding: 0px 15px 29px 35px;
   text-align: center;
}
.article-one {
    //display: grid;
    //grid-template-columns: 1fr 1fr;
    
}
.title-article-one {
    font-size: 18px;
    font-family:'Roboto Slab',serif;
    font-weight: bold;
  
    
}
.p-article-one {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 800; //no me deja poner más//
}
.title-article-two {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.p-article-two {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 800;
}
.title-article-three {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.p-article-three {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 800;
}